.header-wrapper{
    display: flex;
    height: 100vh;
}
.header-container{
    flex: 1;
    height: 100vh;
    height: 110vh;
    overflow-y: scroll;
}
.text-info-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.right-pic img {
    width: 400px;
    height: 200px;
    margin-top: 20px;
    
}
.fail-title{
    display: flex;
    justify-content: center;
}
.failures-test-section {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.failures-test-section.visible {
    opacity: 1;
}
.fail-title h2{
    color: red;
    font-size: 40px;
    text-decoration: underline;
}
.failure-right img{
    width: 440px;
    height: 180px;
    border-radius: 50px;

}
.failures-test-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

