.info-wrapper-2{
    background: #000;
}

@media screen and (max-width:768px) {
    .info-wrapper{
        padding: 100px 0;
    }  
}
.info-container{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    height: 700px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
}
@media screen and (max-width: 868px) {
    .info-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-left: 40px;
        overflow-wrap: break-word;
    }
    .info-image img{
        width: fit-content;
    }
}
.text-content{
 margin-top: 80px;
}
.text-sec2 h1{
    color: #fff;
}
.info-image-2 img{
    width: 680px;
    height: 400px;
    margin-top: 40px;
    
}