@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body {
  margin: 0;
  background-color: rgb(244, 244, 244);

}

*{
    font-family: 'Space Mono', monospace;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow: -moz-scrollbars-none; /* Firefox */
}
::-webkit-scrollbar {
    display: none;
  }
  