.timeline-wrapper{
    position: relative;
    max-width: 1200px;
}
.timeline-container{
    padding: 15px 50px;
    position: relative;
    width: 41%;
    animation: movedown 1s linear forwards;
    opacity: 0;
    color: black;
    font-weight:500;
}
.timeline-box h3{
    font-size: 20px;
    color: green;
    text-decoration: underline;
}
@keyframes movedown {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.timeline-container.delay-1 {
    animation-delay: 0s;
}
  
.timeline-container.delay-2 {
    animation-delay: 1s;
}
  
.timeline-container.delay-3 {
    animation-delay: 3s;
}
.timeline-container.delay-4 {
    animation-delay: 4s;
}
.timeline-container.delay-5 {
    animation-delay: 5s;
}
.timeline-container.delay-6 {
    animation-delay: 6s;
}


.timeline-box{
    padding: 10px 50px 10px 20px;
    background: rgb(255, 255, 255);
    box-shadow: 10px 16px 32px 10px rgba(116, 85, 85, 0.2);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.right-container{
    left: 50%;
}
.left-container{
    left: 0;
}
.timeline-container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 70px;
    z-index: 10;
}
.right-container img {
    left:-20px;
}
