.circle{
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow:  1px 1px 50px 1px rgb(64, 163, 64);
}
.circle:hover{
    background: green;
}
.circle-text{
    text-align: center;
    margin-top: 48px;
    font-size: 15px;
    font-weight: bold;
}