.table-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 420px;
    margin: 20px;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.274);
    position: relative;
    word-break: break-all;
}
button{
    border: none;
    font-size: 18px;
    font-weight: 550;
}
.section-tabs{
    display: flex;
    font-size: 20px;
}
.tabs {
    padding: 15px;
    text-align: center;
    width: 320px;
    background: green;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}
.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}
.active-tabs  {
    background-color: rgb(244, 244, 244);
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: green;
  }

.content {
    background-color: rgb(244, 244, 244);
    padding: 20px;
    width: fit-content;
    height: 100%;
    display: none;
}
.content h2 {
    padding: 0px 0 5px 0px;
}
.content ul {
    width: fit-content;
    height: 100%;
}

.active-content {
    display: block;
}